*{
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: rgb(206, 111, 214);
}
.bigdiv {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
.price {
    display: block;
    padding: 20px 20px;
    align-items: center;
    width: 33%;
}
img {
    width: 250px;
    height: auto;
}
.vl {
    border-left: 1px solid rgba(237, 165, 255, 0.4);
    height: auto;
}
hr {
    border-top: 1px solid rgba(237, 165, 255, 0.4);
    width: 80%;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.pricetitle {
    color: gray;
    font-weight: normal;
    font-size: 18px;
}
.desc {
    color: rgb(206, 111, 214);
    font-size: 15px;
    font-weight: normal;
}
.dollars {
    font-size: 32px;
    color: rgb(206, 111, 214);
}
.sub {
    padding: 16px 31px;
    text-decoration: none;
    color: rgb(206, 111, 214);
    border: 1px solid rgb(206, 111, 214);
    border-radius: 10px;
}
#special {
    padding: 15px 30px;
    text-decoration: none;
    background-color: rgb(206, 111, 214);
    border: 1px solid rgb(206, 111, 214);
    border-radius: 10px;
    color: white;
}

#special:hover {
    background-color: rgb(166, 90, 173);
    border: 1px solid rgb(166, 90, 173);
}

.sub:hover {
    background-color: rgba(205, 111, 214, 0.4);
}
.descList {
    height: 150px;
}