* {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.flex-container {
    display: flex;
}

/* header of page */
#head {
    height:15vw;
    background-color: #00000091;
    justify-content: center;
    align-items: center;
}

/* restaurant logo */
#logo_img {
    width: 11vw;
    height: auto;
}

/* website greeting */
#welcome {
    display: block;
    text-align: center;
    width: 75%;
}
#welcome h1 {
    font-family: "Sigmar";
    font-size: 3.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff3e2;
}

/* user and cart icons */
.options {
    width: 3.5%;
    text-align: right;
}
.options i{
    color: rgb(92, 92, 92);
    position: fixed;
    margin-top: -5vw;
    z-index: 2;
    font-size: 2.3vw;
    transition: 0.75s all;
}
.options i:hover{
    color: #fff3e2;
    transform: scale(1.1);
}

/* video in background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    margin: auto;
}

/* color of even and odd containers */
.odd {
    background-color: #fff3e2;
}
.even {
    background-color: rgb(247, 178, 31);
}

/* imgs between divs */
#cheese, #sauce {
    position: absolute;
    width: 100%;
}
#sauce {
    margin-top: -2.3vw;
}

/* introduction div */
#intro {
    width: 100%;
    margin: 0px 3vw;
    padding: 3% 3%;
}
#intro p{
    color: rgb(17, 17, 17);
    font-family: "Sigmar";
    font-size: 4vw;
    letter-spacing: 1px;
}
#intro_img{
    width: 37vw;
}

/* buttons for order and tracking */
.button {
    display: inline-block;
    border-style: solid;
    border-color: rgb(130, 2, 0);
    border-width: 0.15vw;
    font-family: "Noto Sans";
    font-size: 1.3vw;
    padding: 1vw 4.5vw;
    text-align: center;
    background-color: rgb(130, 2, 0);
    color: #fff3e2;
    border-radius: 10px;
    text-decoration: none;
}
.button:hover {
    background-color: rgb(75, 1, 0);
    border-color: rgb(75, 1, 0);
}
#track {
    padding: 1vw 5vw;
    background-color: rgba(130, 2, 0, 0);
    color: rgb(130, 2, 0);
}
#track:hover {
    background-color: rgba(130, 2, 0, 0.205);
}

/* menu header */
#menu {
    padding-top: 2%;
    text-align: center;
    font-family: "Sigmar";
    font-size: 5vw;
    color: rgb(17, 17, 17);
}

/* for js reveal function */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
  }
/* reveal elements */
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1cb;
    width: 15vw;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    z-index: 100;
    margin-top: 0.8vw;
}
/* user dropdown */
#user {
    border-radius: 20px;
    margin-top: -3.9vw;
    width: 9vw;
    position: fixed;
    margin-right: 5%;
    text-align: center;
}
  
 /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(247, 179, 31, 0.5);
}
#user a:hover {
    background-color: rgba(247, 179, 31, 0.5);
    border-radius: 20px;
}

  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* show number of cart items on cart */
.badge:after{
    content:attr(value);
    font-size: 1vw;
    color: rgb(17,17,17);
    background: #fff3e2;
    border-radius:50%;
    padding: 0.2vw 0.36vw;
    position:relative;
    left:-0.9vw;
    top: -1.3vw;
    opacity:0.9;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
}


